@{
    ViewData["Title"] = "Home Page";
    var message = ViewData["message"];
    var messageType = ViewData["messageType"];
}

<div class="text-center">
    <h2>Bild wird verarbeitet...</h2>

    @if (message != null)
    {
        <div class="alert alert alert-@messageType" role="alert">
            @message
        </div>
    }
</div>

<div class="text-center">
    <h1 class="display-4">Bilder:</h1>
    <p>Diese Demo....</p>
</div>
